body{background-color: #1c1c1c;
font-family: "Roboto", sans-serif;
color: #ffff;
}


p{
font-size: 30px;
display: flex;
justify-content: center;
}

#nav{
 display: flex;   
 justify-content: center;
 justify-content: space-around ;
 background-color: #f5b32f;
 font-size: 30px;
/* border: 2px blue solid; */
}

#nav a{
 text-decoration: none;
 color: #1c1c1c;
margin-top: 30px;
}

#nav p{
color: #1c1c1c;

}


h1{
display: flex;
color: #f5b32f;
justify-content: center;
font-size: 100px;
/* border: 2px solid red */
  
 }

.top-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
  /* border: 2px solid red;  */
  
}
.top-img img{
padding-left: 25%;
width: 50% ;
/* border: 2px solid red; */

}

.top-img p{
 /* border: 2px solid red; */
 width: 40%;
margin-left: 30%;
}

.side-by-side-img{
display: flex;
justify-content: center;
 display: flex;
justify-content: space-around;
flex-direction: row;
}

.side-by-side-img img {
    /* border: blue solid 2px; */
    width: 25%;
}


.middle-p{
    display: flex;
    justify-content: center;
margin: 5%;
width: 50%;
/* border: rgba(85, 0, 241, 0.288) solid 2px; */
padding-left: 20%;

}

h2{
display: flex;
color: #f5b32f;
justify-content: center;
padding: 20px;
font-size: 80px;
/* border: 2px solid red; */
 }


.collum-text{
display: flex;
flex-direction: column;
justify-content: center;
/* border: 2px solid rgb(29, 126, 0) */

}

.collum-text img{
margin-left: 23%;
padding: 10px;
width: 50%;
}

.collum-text p{
padding-left: 25%;
/* border: blue solid 2px; */
width: 50%;
}


.img-text{
display: flex;
flex-direction: row-reverse;
justify-content: center;
margin-bottom: 10%;
 }


.img-text img{

width: 20% ;
margin-right: 10%;
/* border: rgb(255, 6, 214) solid 2px; */
}

.img-text p{
    width: 40%;
    padding-right: 15%;
    /* border: #ec0303 solid 2px; */
}


.finalimg {
display: flex;
flex-direction: row;
justify-content: center;
margin: 5%;
/* border: 2px solid rgb(168, 0, 184); */
}


.finalimg img{
    width: 23%;
margin-left: 15%;    
}

.finalimg p{
margin-right: 15%;
}