@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

*{

padding: 0;
margin: 0;
box-sizing: border-box;

}

body{

background-color:  #c4beb5;

  font-family: 'Edu NSW ACT Cursive', cursive;
}



.links{
display: flex;
justify-content: space-between;
background-color: #5a4423 ;
font-size: 35px;
font-weight: bold;
/* border: 2px solid red; */

}

.links img{
    width: 6%;
    background-color: #FFF2DF;
}
.links a{
color: #FFF2DF;

}

.links-end{
display: flex;
justify-content: flex-end;
/* border: 2px solid red;  */
}

.links-end a{
/* border: 2px solid red; */
margin: 5%;
}



.img-bar{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* border: 2px solid red;  */
color: #280909;
/* background-color: #424446; */
font-size: 30px;

}

.img-bar img{
width: 30%;
margin: 2%;
}

.img-bar h1{
    display: flex;
text-decoration: underline;
background-color: #280909;
color: #FFF2DF;
width: 100%;
justify-content: center;
margin: 3%;

}

.img-bar p {


font-size: 40px;


}


h2{

margin-top: 2%;
}



.img-t {
  display: flex; 
  flex-direction: row;
  align-items: center;
  width: 80%;
  /* border: 2px solid red;  */
  background-color: #424446;
}

.img-t img {
  width: 30%;
  height: 300px; 
}

.img-t p {
  font-size: 16px;
  margin: 0;
  width: 50%;   
}



h2{
    display: flex;
text-decoration: underline;
background-color: #280909;
color: #FFF2DF;
width: 100%;
justify-content: center;
}

h1{
  font-size:  150%
}

.text-i {
  display: flex;
  flex-direction: row-reverse;
  /* border: 2px solid red; */
  background-color: #5a4423;
  margin: 2%;
  width: 80%;
}

.text-i img {
  max-height: 300px;
  width: 40%;
  margin-left: 10px; 
}

.text-i p {
  font-size: 16px;
    font-size: 16px;
  margin: 0;
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;   
  text-align: center;

}





